.no-content-section {
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .no-content-container {
    background-color: #f9f9f9;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    margin: 1rem auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.no-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem; /* Add some space between header and form */
  }
  
  .no-content-header-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }

.no-content-message {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 1rem;
}

.no-content-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .no-content-container {
        padding: 1rem;
    }

    .no-content-message {
        font-size: 0.9rem;
    }
}
