.create-note {
  display: flex;
  flex-direction: column; /* Ensure elements stack vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full height of the viewport */
  margin-bottom: 2rem;
  padding: 20px; /* Add some padding for smaller screens */
  box-sizing: border-box; /* Ensure padding is included in height/width calculations */
}

.create-notes {
  display: flex;
  flex-direction: column; /* Ensure elements stack vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full height of the viewport */
  margin-top: 15rem;
  padding: 10px; /* Add some padding for smaller screens */
  box-sizing: border-box; /* Ensure padding is included in height/width calculations */
}

.create-note-container {
  background-color: white;
  padding: 20px; /* Padding for smaller screens */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.5); /* Yellow glow effect */
  width: 100%; /* Full width on mobile */
  max-width: 600px; /* Maximum width for larger screens */
  margin-top: 1rem; /* Reduced margin to move it upwards */
}

.dropdown-wrapper {
  margin-bottom: 15px; /* Space between dropdown and container */
  position: relative; /* Ensure dropdown aligns correctly */
  width: 100%; /* Full width to match create-note-container */
  max-width: 600px; /* Match the max-width of create-note-container */
}

.dropdown-toggle-button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  text-align: left;
  width: 100%; 
}

.dropdown-icon {
  float: right;
}

.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 100%; /* Full width */
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.notification {
  margin: 10px 0;
  color: green;
}

.note-form-group {
  margin-bottom: 20px;
}

.note-input-field {
  width: 100%; /* Full width */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.create-note-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.note-create-button {
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(180deg, #fea61f, #fed65d);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.note-create-button:hover {
  background-color: #0056b3;
}

/* Media Queries for Larger Screens */
@media (min-width: 600px) {
  .create-note-container {
    padding: 40px; /* Increased padding on larger screens */
  }
}

@media (min-width: 800px) {
  .create-note-container {
    width: 800px; /* Fixed width for large screens */
  }
}
