
  .homepage-section {
    min-height: 100vh;  /* Allow the section to expand as needed */
    background-color: #ffffff;
    background-image: none;
    display: flex;
    flex-direction: column;  /* To ensure content flows vertically */
  }

  
  .homepage-grid {
    display: flex;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    margin: 0; 
    padding: 0; 
  }
  
  .sidebar-container {
    flex: 0 0 250px;
    background-color: #ffffff;
    height: 100vh;
    padding: 0; 
    position: sticky;
    top: 0;
    border-right: 1px solid #e5e7eb;
  }
  
  .navpage-container {
    flex: 1;
    background-color: #FDF6E3;
    height: 100vh;
    padding-left: 0; 
    padding-right: 0; 
    margin: 0; 
    overflow-y: auto;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1rem;
    justify-content: space-between; 
  }

  .header-buttons {
    display: flex;
    gap: 1rem;
    margin-right: auto;
    padding: 2rem 2rem;
  }
  
  .header-buttons button {
    font-size: 1.125rem;
    font-weight: bold;
    color: #4a4a4a;
  }
  
  .header-buttons button.active {
    color: #3b82f6;
  }

  .search-container {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  
  .search-bar {
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 999px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
  }

  .clickable-texts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  
    button {
      background: none;
      border: none;
      color: #3b82f6;
      cursor: pointer;
      text-decoration: underline;
  
      &:hover {
        text-decoration: underline;
        color: #2563eb; // Darker shade on hover
      }
    }
  }
  
  @media (min-width: 768px) {
    .sidebar-container {
      grid-column: span 3 / span 3;
      height: 100vh;
    }
  
    .navpage-container {
      grid-column: span 9 / span 9;
    }
  }
  
  @media (min-width: 1024px) {
    .sidebar-container {
      grid-column: span 2 / span 2;
    }
  
    .navpage-container {
      grid-column: span 10 / span 10;
    }
  }
  
  @media (min-width: 768px) {

    .header {
      flex-direction: row;
      align-items: center;
    }
  
    .header-buttons {
      flex-direction: row;
      gap: 1rem;
    }
  
    .header-buttons button {
      font-size: 1rem;
    }
    .content-container {
      gap: 1rem;
    }
  
    .content-box {
      width: calc(25% - 1.5rem);
      padding-bottom: calc(25% - 1.5rem);
    }
  
  }
  