.btn-add {
  background: linear-gradient(to right, #FEA61F 0%, #FED65D 100%); 
  color: black; 
  padding: 0.5rem 1rem;  
  border: none;  
  border-radius: 999px;  
  margin-right: 2rem;  
  font-size: 1rem; 
  cursor: pointer;  
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: #FED65D;
  }

  position: absolute;
  top: 15px; 
  right: 10px;  
}

.search-bar2 {
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 999px;
  box-sizing: border-box;
  outline: none;
  padding-right: 3rem;
  font-size: 1rem;
  width: 250px;  
  max-width: 100%;   

  &::placeholder {
    color: #a1a1a1;
  }

  position: absolute;
  top: 15px;  
  right: 120px;  
}


.form-1 {
  background-color: #f4f4f4; 
  color: black; 
  padding: 1rem;
  max-width: 500px; 
  width: 100%;  
  border-radius: 8px;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
}

.form-1 > button {
  align-self: flex-end; 
  background: none;
  color: black;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

// form div {
//   display: flex;
//   align-items: center; 
//   gap: 10px; 
// }

label {
  font-weight: bold;
  flex-shrink: 0;  
}

input {
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;  
  box-sizing: border-box; 
  color: black;
}

.form-submit {
  background: linear-gradient(to right, #FEA61F 0%, #FED65D 100%); 
  color: black;  
  padding: 0.5rem 1rem; 
  border: none; 
  border-radius: 999px;  
  font-size: 1rem;  
  cursor: pointer;  
  width: auto; 
  min-width: 70px;  
  display: block;  
  margin: 0 auto; 
  
  &:hover {
    transform: scale(1.1);  
  }
}

.note-container {
  display: flex;
  flex-wrap: wrap;           
  justify-content: flex-start; 
  gap: 10px;                 
  padding: 0;                
}

.note-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);  
  gap: 20px;  
  justify-items: start;  
  width: 100%;
  box-sizing: border-box;
}

.note-button {
  background: linear-gradient(to bottom, #FED65D 27%, #f4f4f4 25%);
  color: #333;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%; 
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  position: relative;      
}

.note-title {
  font-weight: bold;
  margin-bottom: 8px; 
}

.note-content {
  margin-bottom: 20px; 
}

.note-timestamp {
  font-size: 0.75rem; 
  color: gray;         
  position: absolute;  
  bottom: 10px;       
  left: 10px;         
}

.note-content {
  margin-top: 10px;
  flex-grow: 1; 
  text-align: center;  
  font-size: 0.9rem;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}  

.input-title {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}