.container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background-color: white;
  flex-direction: column; 
}

.notes-dropdown {
  background: linear-gradient(90deg, #FEA61F 0%, #FED65D 100%);
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  max-width: 700px; 
  cursor: pointer;

  option {
    color: #333;
    font-weight: normal; 
  }

  option:checked {
    font-weight: bold;
    color: black;
  }
}

.input-content {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 700px;
  width: 700px;
  font-size: 1rem;
  justify-content: flex-start;
  resize: none;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.back-notes-button {
  padding: 0.5rem 1rem;
  background: linear-gradient(90deg, #FEA61F 0%, #FED65D 100%);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute; 
  top: 40px; 
  left: 320px; 
  z-index: 10; 
}

.back-notes-button:hover {
  background: linear-gradient(90deg, #FEA61F 0%, #FED65D 100%);
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.back-notes-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}