html, body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container-1 {
  background-color: white;  
  padding: 1rem;  

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
  padding-left: 1rem;
}

.search-bar {
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 999px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding-right: 3rem;
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.create-button {
  background: linear-gradient(to right, #FEA61F 0%, #FED65D 100%); 
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 999px;
  margin-right: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notes-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 40px;
}

.notes-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.note-card {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom, #FEA61F 0%, #FED65D 100%);
  color: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin-bottom: -40px;
  transition: transform 0.3s ease;

  &:hover {
      transform: scale(1.05); 
  }
}

.note-card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.no-notes {
  display: flex;
  justify-content: flex-start;
  padding-left: 3rem; 
  margin-top: 1rem; 
  p {
      font-size: 1.25rem; 
      color: #555555;
  }
}

.container-1 {
  background-color: white;  
  padding: 1rem;

  .flex {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem; 
  }

  .btn-4-container {
    display: flex;
    justify-content: flex-start;  
    gap: 0.3rem;  
  }

  .rev-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    justify-content: space-between; 
  }

  .btn-4 {
    font-size: 1.125rem;
    font-weight: bold;
    color: #4a4a4a;
    border: none;  
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    white-space: nowrap;
    margin-top: 1rem;
    margin-left: 1rem;

    &:hover {
      color: #FEA61F; 
    }

    &:focus {
      outline: none;
    }

    &.active {
      color: #FEA61F;
    }
  }
}

.delete-note-icon {
  margin-left: 20px;
}

@keyframes subtleWiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
  animation: subtleWiggle 1s ease-in-out infinite;  
}


