.rev-header {
  display: flex;
  justify-content: space-between; /* Ensures title and actions are spaced apart */
  align-items: center; /* Vertically centers the elements */
  padding: 2rem;
  margin: 0.5;
}

.rev-header-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #4a4a4a;
}

.actions {
  display: flex;
  align-items: center; /* Aligns actions vertically with the title */
  gap: 1rem;
}

.search-containerr {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  width: 400px;
}

.search-barr {
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  outline: none;
  width: 400px; /* Adjusted for better responsiveness */
}

.search-buttonn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-iconn {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.create-buttonn {
  background: linear-gradient(90deg, #fea61f 0%, #fed65d 100%);
  color: white;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  width: 60px;
  height: 37px;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  font-size: 0.8rem
}

.create-buttonn:hover {
  background-color: #f59e0b;
}

.filler {
  background-color: transparent; /* Ensure no yellow background is set here */
  height: 0;
  padding: 0;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .header-title {
    font-size: 1rem; /* Smaller title for mobile */
  }

  .actions {
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0;
    position: static;
    margin-top: 1rem;
  }

  .search-barr {
    width: 100%; /* Full width for search bar */
  }

  .search-containerr {
    width: 100%;
    justify-content: space-between;
  }

  .create-buttonn {
    width: 100%; /* Full width for create button on mobile */
  }
}

@media (max-width: 480px) {
  .search-barr {
    padding: 0.5rem;
  }

  .header-title {
    font-size: 1rem;
  }

  .actions {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .create-buttonn {
    padding: 0.5rem 1rem;
  }
}