html, body {
  background-color: #ffffff; /* Set the background color to white */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Align search and create features */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Ensures vertical alignment */
  margin-bottom: 1rem;
  padding: 1rem;
  //position: relative;
}

.header-title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #4a4a4a;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 42rem;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  position: absolute;

  margin-bottom: 0.5rem;
}

.search-containerr {
  position: relative;
  display: flex;
  align-items: center; /* Aligns search bar with icon */
}

.search-barr {
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 999px;
  outline: none;
  width: 400px;
}

.search-buttonn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-iconn {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.create-buttonn {
  background: linear-gradient(90deg, #fea61f 0%, #fed65d 100%);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #f59e0b;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .header-title {
    font-size: 1rem; /* Smaller title for mobile */
  }

  .actions {
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0;
    position: static;
    margin-top: 1rem;
  }

  .search-barr {
    width: 100%; /* Full width for search bar */
  }

  .search-containerr {
    width: 100%;
    justify-content: space-between;
  }

  .create-buttonn {
    width: 100%; /* Full width for create button on mobile */
  }
}

@media (max-width: 480px) {
  .search-barr {
    padding: 0.5rem;
  }

  .header-title {
    font-size: 1rem;
  }

  .actions {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .create-buttonn {
    padding: 0.5rem 1rem;
  }
}