.app-name {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 32px;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 1rem;
    color: black; 
}

.sidebar-section {
    background: linear-gradient(180deg, #FEA61F, #FED65D);
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Fixed width for sidebar */
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-link-active {
    background-color: #e2e8f0;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center; 
    color: black; 
    font-size: 0.875rem; 
    font-weight: bold;
    border-radius: 0.75rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.sidebar-link-normal {
    background-color: transparent; 
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center; 
    color: black;
    font-size: 0.875rem;
    font-weight: bold;
    border-radius: 0.75rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.sidebar-link-hover:hover {
    background-color: #e2e8f0;
}

.sidebar-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
}

/* Styles for larger screens */
@media (min-width: 768px) {
    .sidebar-section {
        width: 250px; /* Keep the fixed width for larger screens */
    }

    .sidebar-link-active, 
    .sidebar-link-normal {
        margin-top: 1.25rem;
        padding-left: 1.75rem;
        width: 100%; /* Allow the links to take full width */
        height: 50px;
        font-size: 1rem;
        border-radius: 1rem;
    }

    .sidebar-icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 1rem;
    }
}

/* Styles for very large screens */
@media (min-width: 1024px) {
    .sidebar-section {
        padding: 2rem;
    }

    .sidebar-link-active, 
    .sidebar-link-normal {
        width: 190px; /* Wider links for larger screens */
        font-size: 1.125rem;
        border-radius: 1.25rem;
    }

    .sidebar-icon {
        width: 2rem;
        height: 2rem;
    }
}
