{% extends '../layouts/base.html' %}
{% load static %}
{% load socialaccount %}

{% block main-content %}
  <div class="login-page grid place-center"> 
    <div class="card-1">
      <h1 class="card-1__title mb-[3rem]">Welcome Back</h1>

      <form method="post" action="">
        {% csrf_token %}
        
        <div class="mb-[2rem]">
          {{ form.non_field_errors }}
        </div>

        <div class="mb-[2rem]">
          <label for="username">Username</label> <br />
          <input 
            class="input-1 mb-[1rem]" 
            type="text" 
            name="username" 
            id="username" 
            value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
          />
          
          {% if form.username.errors %}
            {% for error in form.username.errors  %}
              <div>{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="mb-[2rem]">
          <label for="email">Email</label> <br />
          <input 
            class="input-1 mb-[1rem]" 
            type="text" 
            name="email" 
            id="email" 
            value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
          />
          {% if form.email.errors %}
            {% for error in form.email.errors  %}
              <div>{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="mb-[0.5rem]">
          <label for="password">Password</label> <br />
          <input 
            class="input-1 mb-[1rem]" 
            type="password" 
            name="password1" 
            id="password" 
            value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
          />

          {% if form.password1.errors %}
            {% for error in form.password1.errors  %}
              <div>{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="mb-[0.5rem]">
          <label for="confirm_password">Confirm Password</label> <br />
          <input 
            class="input-1" 
            type="password" 
            name="password2" 
            id="confirm_password" 
            value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
          />

          {% if form.password2.errors %}
            {% for error in form.password2.errors  %}
              <div>{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <p class="mb-[1.5rem] flex justify-center items-center gap-[10px]">
          <input class="mt-[-4.5px]" type="checkbox" name="agree_tnc" id="agree_tnc" />
          <label for="agree_tnc">I agree to the terms and conditions.</label>
        </p>

        <button class="btn-1 mb-[1rem]" type="submit">Create Account</button>

        <hr class="mb-[2rem]" />
        
        <a href="{% provider_login_url 'google' %}?next=/app/">
          <button class="btn-2 flex items-center justify-between mb-[2rem]">
            <img class="icon-1" src="{% static 'google.png' %}" alt="google icon">
            <div>Create an Account with Google</div>
            <div></div>
          </button>
        </a>
        
        <p class="text-center">
          <span class="text-1">Already have an account?</span> 
          Login <a class="underline" href="{% url 'custom_auth:login' %}">here</a>.</p>
      </form>
    </div>
  </div>
</body>

{% endblock main-content %} 