@use '../abstract/variables' as var;

.btn-1 {
  background: linear-gradient(90deg, #FEA61F 0%, #FED65D 100%);
  width: 100%;
  height: 42px;
  font: {
    size: var.$fs-2;
  }
  color: var.$white-1;
  border-radius: 5px;
}

.btn-2 {
  border: 1px solid var.$black-2;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: var.$fs-2;
}

.btn-3 {
  background-color: var.$white-1;
}

.btn-4 {
  width: 100px;
}

.btn-options {
  font-size: 1.2rem;

  &:hover .dropdown-1 {
    display: hidden;
  }
}