$white-1: hsl(0, 0%, 100%); // #ffffff
$white-2: hsl(44, 87%, 94%); // #FDF6E3

$black-1: hsla(0, 0%, 22%, 0.29); // #3737374a
$black-2: hsl(0, 0%, 0%); // #000000;
$black-3: hsl(0, 0%, 22%); // #373737

$green-1: #4CAF50;

$orange-1: linear-gradient(180deg, #FEA61F, #FED65D);

$red-1: #c0392b;

$josefin: 'Josefin Sans', sans-serif;

$fs-1: 1.563rem; // 25
$fs-2: 1.25rem; // 20